<%- include ("partials/_header.ejs") %>


<div class="container mt-1">
    <h1 class="h1 text-center my-3">Tareas Completadas</h1>
    <div class="row mt-12">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead">
                    <tr class="table-success">
                        <th class="text-center align-middle">No.</th>
                        <th class="text-center align-middle">Cliente</th>
                        <th class="text-center align-middle">Pendiente</th>
                        <th class="text-center align-middle">Fecha de Creación</th>
                        <th class="text-center align-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %> 
                        <% for (var i=0; i<data.length; i++) { %> 
                            <tr class="table-default">
                                <td class="text-center"><%= (i + 1)  %> </td>
                                <td class="text-center"><%= data[i].client %> </td>
                                <td class="text-center"><%= data[i].task %> </td>
                                <td class="text-center"><%= data[i].date_created.toString().substr(4, 20) %> </td>
                                <td class="text-center">
                                    <a href="/undone/<%= data[i].id %> " class="btn btn-danger btn-sm">Deshacer</a>
                                </td>
                            </tr>
                        <% } %> 
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
</div>



<%- include ("partials/_footer.ejs") %>